
@font-face {
    font-family: 'Anton';
    src:url('Assets/Anton/Anton-Regular.ttf');
        
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Anton';
    scrollbar-color: #fd7b02 rgba(48, 46, 47, 0.507);
    scrollbar-width:thin;
}

.logo{
    padding: 3px;
    width: 5em;
    height: auto;
}

.iconFooter{
   max-width: 80px;
}

.textFooter{
  font-size: x-small;
}

.mediaFooter li{
  list-style: none;
  
}

.custom-icon {
  color: white; 
}

@media (max-width: 300px) {
  .iconFooter{
    display: none;
  }
}


.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%; /*relacion de aspecto 16:9*/

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

.error-message{
    display: flex;
    font-size: small;   
    color: red;
    
}

.succes{

    border: solid 2px green;
}

.error{
    border: solid 2px red;
}

.mi-clase-botones {
    width: auto; 
    margin: 0 auto; /* centra el botón horizontalmente */
 }

 

  .show-fade-in{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .show-fade-in:hover {
    opacity: 1;
  }

  .bounce {
    transition: transform 0.3s ease-in-out;
  }
  
  .bounce:hover {
    transform: translateY(-20px); 
  }

  .shadow-pop {
    position: relative;
    transition: box-shadow ease-in-out;
  }
  
  .shadow-pop:hover {
    transition: 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05); 
  }

  

 

  @media (max-width: 768px) {
    /* Anulamos el efecto de hover para pantallas pequeñas */
    .bounce:hover, .shadow-pop:hover {
      transform: none; /* Restablecemos la transformación a su estado original */
    }


  }


/* animacion de slider */
  
  .slider-frame {
    overflow: hidden;
  }
  
  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 300%;
    
    animation: slide 15s infinite normal ease-in-out;
  }
  
  .slider-frame li {
    list-style: none;
  }
  
  .slider-frame img {
    width: 100%;
  }
  
  @keyframes slide {
    0% {margin-left: 0;}
    30% {margin-left: 0;}
    
    35% {margin-left: -100%;}
    60% {margin-left: -100%;}
    
    65% {margin-left: -200%;}
    95% {margin-left: -200%;}
    
  }


  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* animacion de elevarse y aparecer*/
  .animated-text {
    animation: slideIn 2.5s ease;
  }


 /*contenedor del loader*/
  .loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }

  .ocultar {
    display: none;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #fd7b02;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  /*animacion de girar*/
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .galeria-img {
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    
  }

  .pointer{
    cursor: pointer;
  }

  .galeria-img:hover {
    opacity: 0.7;
    transform: scale(1.05);
  }

/* Estilo del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Estilo del contenido del modal */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
}

/* Estilo para cerrar el modal */
.close {
  color: #fd7b02;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  right: 150px;
  cursor: pointer;
}


.categoria {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .6;
  transition: .7s ease;
  
}

.categoria:hover {
  cursor: pointer;
  width: 80px;
  opacity: 1;
  filter: contrast(120%);
}

@media (max-width: 1000px) {
  
  .close{
    right: 25px;
  } 
  
}

/*animacion shake*/

/* Define la animación de sacudida */
 @keyframes shake {
   0% { transform: translateX(0); }
   25% { transform: translateX(-5px); }
   50% { transform: translateX(5px); }
   75% { transform: translateX(-5px); }
   100% { transform: translateX(0); }
 }

 /*sacudida arriba y abajo*/
 @keyframes shake-up {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  75% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}
 
 /* Aplica la animación a la clase 'shaking' */
 .shaking {
   animation: shake 0.5s;
 }

 

/*animacion de desenfoque*/

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }

  20% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
  
}

.blur{
  animation: fadeIn 3s ease;
}

/* Animación para desplazarse desde la izquierda */
@keyframes moveFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animated-title {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  animation: moveFromLeft 2s ease;
}

/* Animación para desplazarse desde arriba*/
@keyframes moveFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animated-title-Down {
  position: relative;
  overflow: hidden;
  
  animation: moveFromTop 2.3s ease;
}


@keyframes moveFromRigth {
  from {
    transform: translateX(+100%);
  }
  to {
    transform: translateX(0);
  }
}

.animated-card-Rigth {
  position: relative;
  overflow: hidden;
  animation: moveFromRigth 1,5s ease;
}

.animated-card-left {
  position: relative;
  overflow: hidden;
  animation: moveFromLeft 1.5s ease;
}


#suplementos:hover{
  transform: perspective(600px) 
  rotateX(10deg);
  transition: .3s;
}

@keyframes moveFromDown {
  from {
    transform: translateY(+100%);
  }
  to {
    transform: translateY(0);
  }
}

.animated-title-Top {
  position: relative;
  overflow: hidden;
  
  animation: moveFromDown 2s ease;
}

.formulario{
  border: solid 2px #fd7b02;
  border-radius: 5px;
}


#enviarBtn {
  background-color: #fd7b02;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

#enviarBtn.exito {
  background-color: #4caf50; /* Cambia a verde en éxito */
}

.margin-l{
  margin-left: 10px;
}

.margin-r{
  margin-right: 20px;
}

.container-cats{
  min-width: 300px;
}

form input, form select {
  border: 2px solid #000000; /* Color del borde */
  border-radius: 5px; /* Bordes redondeados */
}

/*adicionales para el input cuando está enfocado (con el cursor dentro) */
form input:focus, form select:focus {
  outline: none; 
  border-color: #fd7b02; 
  box-shadow: 0 0 5px #fd7b02; /* agrega una sombra al enfocar */
}



@media screen and (max-width: 760px) {
  .margin-l {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .margin-r {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .categoria {
    width: 100%; /* Ajusta el tamaño según sea necesario para dispositivos móviles */
    margin-bottom: 10px;
  }

  .categoria:hover{
    cursor: pointer;
    opacity: 1;
    filter: contrast(120%);
    animation: shake-up 0.5s;
  }
  
  

}

