@font-face {
    font-family: 'Governor-Engraved';
    src:url('Assets/webfonts/Governor-Engraved.ttf.woff') format('woff'),
        url('Assets/webfonts/Governor-Engraved.ttf.svg#Governor-Engraved') format('svg'),
        url('Assets/webfonts/Governor-Engraved.ttf.eot'),
        url('Assets/webfonts/Governor-Engraved.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anton';
    src:url('Assets/Anton/Anton-Regular.ttf');
        
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Anton';
}

.logo{
    padding: 3px;
    width: 5em;
    height: auto;
}

.iconFooter{
    width: 6em;
}

.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

.error-message{
    display: flex;
    font-size: small;   
    color: red;
    

}

.succes{

    border: solid 2px green;
}

.error{
    border: solid 2px red;
}

.mi-clase-botones {
    width: auto; /* O el ancho deseado para el botón */
    margin: 0 auto; /* Centra el botón horizontalmente */
 }

 .galeria-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }